.footer {
  background-color: #fcf5e5;
  margin: 0;
  padding: 60px 0;
}

.footer__content {
  font-weight: 400;
  size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
}
