.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #ffff;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/closeiconx.svg);
  position: absolute;
  height: 40px;
  width: 40px;
  top: 32px;
  right: 50px;
  background-color: white;
  border: none;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 100;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #21212166;
  box-sizing: border-box;
}

.modal__label::placeholder {
  color: #2121214d;
  font-size: 20px;
  line-height: 1;
  opacity: 30%;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  padding: 18px 32px;
  border-radius: 8px;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px 10px;
  }

  .modal__container {
    width: 100%;
    max-width: 100%;
    padding: 12px 12px;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__close-btn {
    top: 2px;
    right: 12px;
  }

  .modal__label::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
